body {
  margin: 0px;
  width: 1300px;
  height: 2104px;

  /*background-color: blue;*/
}

#wrapper {
}

#header {
  /*background-color: grey;*/
  width: auto;
  height: 523px;
  /*z-index: -1;*/
}

#logo_bar {
  /*background-color: orange;*/
}

#logo {
  margin: 10px 0px 0px 140px;
}

#brand {
  /*padding-left: 10px;*/
  font-family: 'Merriweather Sans';
  color: #193d3e;
  position: relative; absolute;
  left: 200px;
  top: -35px;
  width: 250px;

}

#searchbar {
  /*background-color: green;*/
  float: right;
  /*padding-top: 15px;
  padding-right: 200px;
  line-height: 35px;*/
  position: relative; absolute;
  top: -62px;
  right: 165px;
  color: #193d3e;
}

#searchbar a:link {
  /*padding: 15px;*/
  text-decoration: none;
  font-family: 'Oswald';
  font-size: 18px;
  color: #193d3e;
  padding-right: 15px;
}

#header p {
  line-height: 178px;
  font-size: 96px;
  text-align: center;
  font-family: 'Merriweather Sans';
  color: white;
}

#main {
  background-color: green;
  height: 1156px;
}

#img4 {
  float: right;
}

#img3 {
  float: right;
}

#img2 {
  float: right;
}

#img1 {
  /*float: right;*/
}

#footer {
  position: absolute;
  margin-bottom: 0;
  width: 1300px;
  height: 425px;
  background: purple;
}
