body {
  background-image: url(../images/header.jpg);
  margin: 0px;
  width: 1300px;
  height: 2104px;
  background-repeat: no-repeat;
}

#header {
  width: auto;
  height: 523px;
}

#logo {
  margin: 10px 0px 0px 140px;
}

#brand {
  font-family: 'Myriad Apple';
  font-size: 18px;
  color: #083452;
  position: relative; absolute;
  left: 200px;
  top: -35px;
  width: 250px;
}

#searchbar {
  float: right;
  position: relative; absolute;
  top: -62px;
  right: 155px;
  color: #083452;
}

#searchbar a:link {
  text-decoration: none;
  font-family: 'Oswald';
  font-size: 18px;
  color: #083452;
  padding-right: 13px;
}

#searchbar a:visited {
  color: #083452;
}

#compheader {
  padding-top: 20px;
  height: 110px;
  margin-bottom: 0px;
  font-size: 110px;
  text-align: center;
  font-family: 'Myriad Apple';
  color: white;
}

#sub {
  margin-top: -8px;
  font-size: 18px;
  text-align: center;
  font-family: 'Myriad Apple';
  color: #083452;
}

#main {
  height: 1150px;
}

#spacetop {
  height: 60px;
  width: 1300px;
}

#posthead {
  display: flex;
}

#space1 {
  width: 168px;
  height: 179px;
}

#posttitle p {
  font-family: 'Oswald';
  font-size: 64px;
  margin: 0px;
  color: #083452;
  line-height: 76px;
  width: 610px;
}

#p2 {
  position: relative; absloute;
}

#space2 {
  width: 84px;
  height: 179px;
}

#authorhead {
  display: flex;
  margin-top: 5px;
  font-family: 'Asap';
  font-size: 13px;
  line-height: 22px;
}

#authorhead img {
  height: 22px;
  width: 22px;
}

#author {
  padding: 0px 5px 0px 5px;
  line-height: 24px;
  color: #106db3;
}

#date {
  padding-left: 5px;
  line-height: 24px;
  color: #a3b3bf;
}

#date a:link {
  color: #a3b3bf;
}

#date a:visited {
  color: #a3b3bf;
}

#authbio {
  text-align: center;
  position: relative; absolute;
  top: 28px;
  font-family: 'Asap';
  width: 268px;
  margin: 0px;
}

#authbio img {
  margin-bottom: 8px;
}

#authbio p {
  font-size: 16px;
  color: #106db3;
  margin: 0px;
}

#authbio a {
  font-size: 14px;
  color: #a3b3bf;
  text-decoration: none;
  padding: 0px 7px 0px 7px;
}

#authbio a:hover {
  color: #106db3;
}

#post {
  display:inline-flex;
}

#space3 {
  width: 168px;
  height: 760px;
}

#content {
  width: 620px;
  font-family: 'Asap';
  color: #5e686f;
  line-height: 170%;
}

#content p:nth-child(1) {
  padding-top: 10px;
}

#content a {
  color: #a3b3bf;
}

#content a:hover {
  color: #106db3;
}

#excerpt {
  border-left: 2px solid #a3b3bf;
  color: #106db3;
  font-size: 28px;
  line-height: 200%;
  margin-left: 6px;
  padding-left: 15px;
}

#space4 {
  width: 74px;
  height: 700px;
}

#ad {
  text-align: right;
  padding-top: 28px;
  font-family: 'Asap';
  font-size: 14px;
}

#ad p {
  margin-top: 3px;
  margin-bottom: 40px;
}

#ad a {
  color: #a3b3bf;
}

#ad a:hover {
  color: #106db3;
}

#heading {
  width: 276px;
  font-family: 'Oswald';
  font-size: 18px;
  color: #106db3;
}

#heading p {
  margin-bottom: 0px;
}

#heading p:nth-child(2) {
  margin-top: 3px;
  font-family: 'Asap';
  font-size: 14px;
  line-height: 150%;
  color: #a3b3bf;
}

#heading a {
  color: #a3b3bf;
}

#heading a:hover {
  color: #106db3;
}

#mediabar {
  display: flex;
  font-family: 'Myriad Apple';
  font-size: 14px;
}

#gap {
  width: 5px;
  height: 32px;
}

#gap2 {
  width: 10px;
  height: 32px;
}

#comment {
  display: flex;
  height: 32px;
  width: 159px;
}

#comment a {
  display: flex;
  text-decoration: none;
}

#mediabar a:hover img {
    background-color: #083452;
}

#mediabar a:hover div {
    background-color: #106db3;
}

#comment img  {
  padding: 8px 8px 8px 8px;
  background-color: #5E686F;
  text-decoration: none;
}

#comment div {
  background-color: #A3B3BF;
  color: white;
  height: 32px;
  width: 112px;
  line-height: 34px;
  padding-left: 14px;
}

#upload {
  display: flex;
  height: 32px;
  width: 129px;
}

#upload a {
  display: flex;
  text-decoration: none;
}

#upload img {
  padding: 8px 8px 8px 8px;
  background-color: #5E686F;
  text-decoration: none;
}

#upload div {
  background-color: #A3B3BF;
  color: white;
  height: 32px;
  width: 82px;
  line-height: 34px;
  padding-left: 14px;
}

#share {
  display: flex;
  height: 32px;
  width: 150px;
}

#share a {
  display: flex;
  text-decoration: none;
}

#share img {
  padding: 8px 8px 8px 8px;
  background-color: #5E686F;
  text-decoration: none;
}

#share div {
  background-color: #A3B3BF;
  color: white;
  height: 32px;
  width: 110px;
  line-height: 34px;
  padding-left: 14px;
}

#fhead {
  border-top: 1px solid #a3b3bf;
  text-align: center;
  font-family: 'Oswald';
  font-size: 64px;
  color: #083452;
}

#fhead p {
  margin-top: 30px;
}

#footer {
  position: relative; absolute;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0;
  width: 1300px;
  height: 330px;
  color: #083452;
  font-family: 'Oswald';
  font-weight: 400;
}

#img4 {
  display: block;
  width: 325px;
  height: 330px;
  background-image: linear-gradient(
    rgba(0, 104, 173, 0.8),
    rgba(0, 104, 173, 0.8)
    ), url(../images/article-image-4.jpg);
  position: relative; absolute;
}

#img4 p {
  position: absolute;
  font-size: 30px;
  top: 250px;
  left: 15px;
  width: 100%;
}

#img4:visited {
  color: #083452;
}

#img4:hover {
  background-image: linear-gradient(
    rgba(0, 104, 173, 0.3),
    rgba(0, 104, 173, 0.3)
    ), url(../images/article-image-4.jpg);
  width: 325px;
  height: 330px;
  color: white;
}

#img3 {
  display: block;
  width: 325px;
  height: 330px;
  background-image: linear-gradient(
    rgba(0, 104, 173, 0.8),
    rgba(0, 104, 173, 0.8)
    ), url(../images/article-image-3.jpg);
  position: relative; absolute;
}

#img3 p {
  position: absolute;
  font-size: 30px;
  top: 205px;
  left: 15px;
  width: 100%;
}

#img3:visited {
  color: #083452;
}

#img3:hover {
  background-image: linear-gradient(
    rgba(0, 104, 173, 0.3),
    rgba(0, 104, 173, 0.3)
    ), url(../images/article-image-3.jpg);
  width: 325px;
  height: 330px;
  color: white;
}

#img2 {
  display: block;
  width: 325px;
  height: 330px;
  background-image: linear-gradient(
    rgba(0, 104, 173, 0.8),
    rgba(0, 104, 173, 0.8)
    ), url(../images/article-image-2.jpg);
  position: relative; absolute;
}

#img2 p {
  position: absolute;
  font-size: 30px;
  top: 250px;
  left: 15px;
  width: 100%;
}

#img2:visited {
  color: #083452;
}

#img2:hover {
  background-image: linear-gradient(
    rgba(0, 104, 173, 0.3),
    rgba(0, 104, 173, 0.3)
    ), url(../images/article-image-2.jpg);
  width: 325px;
  height: 330px;
  color: white;
}

#img1 {
  display: block;
  width: 325px;
  height: 330px;
  background-image: linear-gradient(
    rgba(0, 104, 173, 0.8),
    rgba(0, 104, 173, 0.8)
    ), url(../images/article-image-1.jpg);
  position: relative; absolute;
}

#img1 p {
  position: absolute;
  font-size: 30px;
  top: 250px;
  left: 15px;
  width: 100%;
}

#img1:visited {
  color: #083452;
}

#img1:hover {
  background-image: linear-gradient(
    rgba(0, 104, 173, 0.3),
    rgba(0, 104, 173, 0.3)
    ), url(../images/article-image-1.jpg);
  width: 325px;
  height: 330px;
  color: white;
}

#fbase {
  display: flex;
  height: 100px;
  width: 1300px;
  background-color: #083452;
  position: relative; absolute;
  bottom: 0px;
  font-family: 'Asap';
}

#fbaselogo {
  width: 100%;
}

#fbaselogo img {
  float: right;
  padding: 30px 10px 0px 0px;
}

#flogotxt {
  color: #A3B3BF;
  line-height: 100px;
  width: 200%;
  font-size: 14px;
}

#spacer {
  width: 45%;
}

#linkpot {
  padding-left: 10px;
  line-height: 100px;
  width: 200%;
  font-size: 14px;
}

#linkpot a {
  padding-right: 7px;
}

#linkpot a:nth-child(2) {
  border-left: 1px solid #A3B3BF;
  padding-left: 7px;
}

#linkpot a:nth-child(3) {
  border-left: 1px solid #A3B3BF;
  padding-left: 7px;
}

#linkpot a:nth-child(4) {
  border-left: 1px solid #A3B3BF;
  padding-left: 7px;
}

#linkpot a:link{
  color: #A3B3BF;
  text-decoration: none;
}

#linkpot a:visited {
  color: #A3B3BF;
}

#linkpot a:hover {
  color: #fff;
}
